<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My Surat</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script defer
    src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>

<body>

    <div class="page-wrapper">

        <div class="login-card">

            <div class="login-header">

                <h1>Selamat datang</h1>

                <p>
                    Silahkan masuk untuk lanjut ke Aplikasi
                </p>

            </div>

            <form class="login-form"
            method="POST">

                <!-- USERNAME -->
                <div class="input-box">

                    <i class="fa-solid fa-user"></i>

                    <input type="text"
                    name="username"
                    placeholder="E-mail atau Username..."
                    required>

                </div>


                <!-- PASSWORD -->
                <div class="input-box password-box">

                    <i class="fa-solid fa-lock"></i>

                    <input type="password"
                    name="password"
                    id="loginPassword"
                    placeholder="Password..."
                    required>

                    <i class="fa-solid fa-eye-slash eye-icon"
                    onclick="togglePassword('loginPassword', this)">
                    </i>

                </div>


                <!-- BUTTON -->
                <button type="submit"
                class="btn-login">

                    Masuk

                </button>


                <!-- REGISTER -->
                <a href="{{ url_for('register') }}"
                class="register-link">

                    Register

                </a>

            </form>

        </div>

    </div>


    <!-- SCRIPT SHOW PASSWORD -->
    <script>

    function togglePassword(inputId, icon) {

        let input =
            document.getElementById(inputId);

        if (input.type === "password") {

            input.type = "text";

            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");

        } else {

            input.type = "password";

            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");

        }

    }

    </script>

</body>
</html>